<header>
  <h1>{{ title }}</h1>
</header>
<main>
  <section id="side-nav">
    <article *ngIf="categoryfilter || tagfilter">
      <h2>Filter(s):</h2>
      <div class="current-filter">
        {{ categoryfilter?.name }} {{ tagfilter?.name }}
        <button class="button" (click)="clearFilters()"> Clear Filter</button>
        <i class="bi bi-trash"></i>
      </div>
    </article>
    <article id="categories">
      <app-categories
        [categoryfilter]="categoryfilter"
        (newCategoryFilterEvent)="setCategoryFilter($event)"
      ></app-categories>
    </article>
    <article id="tags">
      <app-tags
        [tagfilter]="tagfilter"
        (newTagFilterEvent)="setTagFilter($event)"
      ></app-tags>
    </article>
  </section>
  <section id="projects">
    <app-projects
      [categoryfilter]="categoryfilter"
      (newCategoryFilterEvent)="setCategoryFilter($event)"
      [tagfilter]="tagfilter"
      (newTagFilterEvent)="setTagFilter($event)"
    ></app-projects>
  </section>
</main>
<footer>&copy; {{ date.getFullYear() }} {{ author }}</footer>


